.card-container {
    display: flex;
    /* margin: auto; */
    border-radius: 20px;

}

h1 {
    font-size: 3rem;
    text-decoration: underline;
    margin: 0;
}


.card {
    background-color: rgba(255, 255, 255, 0.51);
    display: flex;
    padding: 1rem;
    box-shadow: 0 0 10px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin-bottom: 5ch;
}


 div {
    font-size: 1.2rem;
    font-weight: 500;
}

